<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="E:/eclipse-popsugar/popsugar1215">
        <classes>
            <class name="popsugar.selenium.testCase.TestSignIn_tk25">
                <methods><include name="signIn"/></methods>
            </class>
        </classes>
    </test>
</suite>